.gallery {
  height: fit-content;
  width: 100%;
  background-image: linear-gradient(to bottom, #330867 0%, #e7f0fd 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
  font-family: $titillium;

  @include md-screen {
    padding-top: 2.25rem;
    padding-bottom: 6.25rem;
  }

  .grid {
    width: 100%;

    &:first-child {
      @include md-screen {
        margin-top: 0;
        margin-bottom: 0.25rem;
      }
    }

    &#light-slider-2 {
      margin-top: 2.25rem;

      @include md-screen {
        margin-top: 2.825rem;
      }
    }

    &-item {
      border-radius: 0.5rem;
      width: 300px;
      height: auto;

      @include sm-screen {
        width: 200px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }
    }
  }
}
