.gallery {
  height: fit-content;
  width: 100%;
  background-image: linear-gradient(to bottom, #30cfd0 0%, $light-gray 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;

  .grid {
    width: 100%;
    margin: 0 auto;

    &-item {
      border-radius: 0.5rem;
      transform: translate3d(0, 0, 0);
      margin: 0;

      @include xlg-screen {
        width: 15%;
        // height: auto;
        // margin: 1px;
        // margin: 5px;
      }

      @include md-screen {
        width: 30%;
      }

      &.width2 {
        @include xlg-screen {
          width: 30%;
        }

        @include md-screen {
          width: 60%;
        }

        &:last-child {
          @include xlg-screen {
            width: 30%;
          }

          @include md-screen {
            width: 80%;
          }
        }
      }

      img {
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3),
          0px -2px 12px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
