.gallery {
  height: fit-content;
  width: 100%;
  // margin-top: $m-section;
  background-image: $secondary-gradient;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: $m-xwide;

  input {
    display: none;
  }

  &-heading {
    text-align: center;
    padding-top: $m-xwide;
    padding-bottom: $m-xwide;

    h2 {
      font-family: $lato;
      text-transform: capitalize;
      position: relative;
      padding-bottom: $p-wide;

      &::after {
        content: '';
        height: 1px;
        width: 0px;
        border-radius: 1rem;
        background: $black;
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        transform: translateX(-50%);
      }
    }

    label {
      text-transform: capitalize;
      font-size: 1rem;

      &:first-child,
      &:nth-child(2) {
        padding-right: $p-small;
      }
    }
  }

  .grid {
    margin-top: $m-xwide;
    width: 100%;
    margin: 0 auto;

    &-item {
      border-radius: 0.5rem;
      transform: translate3d(0, 0, 0);

      @include sm-screen {
        width: 30%;
      }

      img {
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3),
          0px -2px 12px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
