// Navbar Start
.navbar {
  margin: 0;
  width: $w-max;
  height: 70px;
  margin-top: $m-small;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  // background-color: #fff;

  @include xlg-screen {
    margin-top: $m-wide;
    justify-content: space-between;
    width: 80%;
    top: 0;
    // background: green;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  @include lg-screen {
    width: 90%;
  }

  @include sm-screen {
    margin-top: $m-small;
  }

  &-logo {
    max-width: 18rem !important;
    margin-top: 10%;

    @include xlg-screen {
      max-width: $w-wide;
      margin: 0;
      padding-left: calc($p-xwide + 4rem);
    }

    @include lg-screen {
      padding-left: 0;
    }

    @include sm-screen {
      margin-right: 15vw;
    }

    img {
      display: block;
      transform: scale(1);
      width: 100%;
      height: 100%;

      @include xlg-screen {
        transform: scale(1.8);
      }

      @include lg-screen {
        transform: scale(1.2);
      }

      @include md-screen {
        transform: scale(1);
      }
    }
  }

  .toggle-bars {
    position: absolute;
    margin-left: 75%;
    z-index: 99;
    cursor: pointer;
    transition: all 0.35s ease-in-out;

    @include xlg-screen {
      display: none;
    }

    @include md-screen {
      display: block;
    }

    @include sm-screen {
      // margin-top: 5%;
      margin-left: 80%;
    }

    .fa-bars {
      font-size: 1.825rem !important;
      color: $secondary-light;
      text-rendering: optimizeLegibility;
    }
  }

  &-menu {
    display: none;

    @include xlg-screen {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 0;
    }

    @include md-screen {
      display: none;
    }

    &__item {
      &-link {
        @include xlg-screen {
          color: $white;
          display: block;
          color: $white;
          font-size: 1.425rem;
          font-weight: 300;
          text-transform: uppercase;
          font-family: $lato;
          padding: $p-xsmall $p-wide;
          position: relative;
          transition: all 0.35s ease-in-out;

          &:hover {
            color: $secondary-light;
          }

          &::after {
            content: '';
            height: 1px;
            width: 0px;
            border-radius: 1rem;
            background: $white;
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            transform: translateX(-50%);
            transition: all 0.3s ease-in-out;
          }

          &:hover::after {
            width: 40%;
            background: $secondary-light;
          }
        }

        @include lg-screen {
          padding: $p-xsmall $p-medium;
          font-size: 1.125rem;
        }
      }
    }
  }

  &.mobile {
    position: absolute;
    height: $h-max;
    width: $w-max;
    margin: 0;
    top: 0px;
    overflow: hidden;
    background: $black;
    z-index: 10;
    flex-direction: column;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    // animation: slideDown ease-in-out 0.35s;
    // -webkit-animation: slideDown ease-in-out 0.35s;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    // will-change: height;
    transition: all 0.25s ease-in-out;
    // animation-delay: 0.1s;

    // @keyframes slideDown {
    //   0% {
    //     top: -1000px;
    //   }

    //   100% {
    //     top: 0px;
    //   }
    // }

    .navbar-logo {
      margin-top: -3.2rem;
      // width: $w-half;

      img {
        display: block;
        // width: 100%;
      }
    }

    .toggle-bars {
      position: fixed;
      top: 0;
      z-index: 99;
      display: block;
      text-rendering: optimizeLegibility;

      @include md-screen {
        // top: -7%;
        margin-top: 10%;
      }

      @include sm-screen {
        margin-top: 18%;
      }

      .fa-times {
        color: $secondary-light;
        font-size: 2.25rem;
        text-rendering: optimizeLegibility;
        // margin-top: 10%;
      }
    }

    .navbar-menu {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: $w-wide;
      height: $h-wide;
      padding-bottom: $p-wide;

      @include md-screen {
        padding-bottom: $p-xwide;
      }

      .navbar-menu__item {
        .navbar-menu__item-link {
          color: $white;
          font-size: 1.625rem;
          font-weight: 300;
          text-transform: uppercase;
          font-family: $lato;
          position: relative;
          padding-bottom: 2rem;

          &::after {
            content: '';
            height: 1px;
            width: 1000%;
            background: $gray;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.45);
          }

          @include md-screen {
            font-size: 1.825rem;
          }
        }
      }
    }
  }
}

// Navbar End

// Hero Section

.hero {
  width: $w-max;
  height: 100vh;
  background-image: $main-gradient;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  // margin: 0 auto;

  &-wrapper {
    width: 95%;
    min-width: 90%;
    height: 88%;
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // padding-bottom: 10rem;
    // margin-top: 1rem;
    margin-bottom: 2.25rem;
    z-index: 2;
    // margin: auto;
    // margin: 0 auto;
    // background: green;
    background-image: url('../images/grayscale-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6),
      -2px -2px 10px rgba(0, 0, 0, 0.6);

    @include xlg-screen {
      height: 97%;
      min-height: 95%;
      width: 97%;
      min-width: 95%;
      margin-bottom: 0;
    }

    @include md-screen {
      height: 90%;
      min-height: 85%;
    }

    @include sm-screen {
      width: 95%;
      min-width: 90%;
      height: 88%;
      min-height: 80%;
      margin-top: 0;
      margin-bottom: 2.625rem;
    }

    .hero-content {
      color: $white;
      width: 90%;
      min-width: 85%;
      // background-color: black;

      @include xlg-screen {
        width: 30%;
        max-width: 40%;
        height: $h-half;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: blue;
      }

      @include lg-screen {
        width: 40%;
        max-width: 50%;
      }

      h2 {
        font-size: 3rem;
        margin-bottom: $m-wide;
        font-family: $lato;
        font-weight: 600;
        background-image: $secondary-gradient;
        background-size: 100%;
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        // width: 100%;

        @include xlg-screen {
          font-size: 4.625rem;
          margin-bottom: 2rem;
          text-transform: capitalize;
          // margin-top: 4rem;
        }

        @include lg-screen {
          font-size: 4.25rem;
          margin-bottom: 1rem;
        }

        @include md-screen {
          font-size: 3.625rem;
        }

        @include sm-screen {
          font-size: 2.625rem;
        }
      }

      p {
        font-size: 1.125rem;
        line-height: 28px;

        @include xlg-screen {
          font-size: 1.825rem;
          width: 50%;
          line-height: 42px;
          // background-color: blue;
          padding-bottom: $p-xsmall;
          margin-top: 2rem;
          // line-height: 50px;
        }

        @include lg-screen {
          width: 80%;
          font-size: 1.625rem;
        }

        @include md-screen {
          width: 100%;
          font-size: 1.225rem;
          line-height: 28px;
        }
      }

      .content-btn {
        display: block;
        width: 70%;
        @include Button($primary-dark, $light-color, $p-small, $p-medium);
        font-size: 1.25rem;
        text-transform: uppercase;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
        margin: $m-xsmall auto 0;
        transition: all 0.35s;

        @include xlg-screen {
          display: inline-block;
          width: auto;
          padding: $p-small $p-xwide;

          &:hover {
            transform: scale(1.05);
          }
        }

        @include md-screen {
          width: 50%;
        }

        @include sm-screen {
          width: 80%;
          font-size: 1rem;
        }
      }
    }
  }
}
// Hero Section End

// Tablets and small laptops

// Small -> Medium Size mobile phones
